.tab-container {
    display: flex;
    justify-content: center;
    margin: 8px;

    button {
        border-right: 0px;
        width: 100%;
        margin: 0px;
        border: 1px solid #ccc;
    }

    button:last-child {
        border-right: 1px solid #ccc;
    }

    .active {
        background-color: #444;
    }
}